.Login-Container {
  width: 45%;
  padding: 50px 0 20px 0;
  height: 90%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Login-text {
  color: gray;
  font-size: 1.1rem;
  margin-bottom: 4rem;
}
.error {
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}
.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Login-Input {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 90%;
}
.Login-Input input {
  width: 100%;
  font-size: 1rem;
  color: gray;
  padding: 0 0 0 10px;
  height: 40px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Login-Input input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.Forgot {
  padding: 20px 0 20px 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}
.Forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}
.Submit {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
}
.Submit button {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #ff8800;
  border: none;
  transition: 0.2s ease-in-out;
}
.Submit button:hover {
  cursor: pointer;
  background-color: #fcac5d;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.Submit button:active {
  cursor: pointer;
  background-color: #ff8800;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Social-Login-text {
  color: gray;
  font-weight: 600;
}
.socal-box {
  text-align: center;
  width: 100%;
}
.social-Platform {
  display: flex;
  margin-top: 5%;
  justify-content: space-evenly;
  padding: 0px 20px 0px 20px;
}
.social-Platform button {
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  transition: 0.2s ease-in-out;
}
.social-Platform button:hover {
  color: gray;
  cursor: pointer;
  transform: scale(1.1);
}
.password {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.password input {
  border: none;
  font-size: 1rem;
  color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 40px;
  padding: 12px 45px 12px 12px;
}
.password input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.password button {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password button i {
  font-size: 1.1rem;
}

.password button:hover i {
  color: gray;
}
.password-reset {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(4px);
}
.password-box {
  background: #f7ede0;
  width: 420px;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  animation: scaleIn 0.25s ease-in-out;
}
@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Email-verfiy {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.title {
  margin-right: 1rem;
  margin-left: 3rem;
}
.title h2 {
  font-size: 1.3rem;
  color: #5e5b52;
}
.reset-error {
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}
.input-verify {
  display: flex;
  padding: 0 40px 0 40px;
}
.input-verify input {
  width: 100%;
  font-size: 1rem;
  color: gray;
  padding: 0 0 0 10px;
  height: 40px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.input-verify input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.email-button {
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  height: 40px;
}
.email-button button {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #ff8800;
  border: none;
  transition: 0.2s ease-in-out;
}
.email-button button:hover {
  cursor: pointer;
  background-color: #fcac5d;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.email-button button:active {
  cursor: pointer;
  background-color: #ff8800;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.OTP-verify {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.otp-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px 0 50px;
  height: 70px;
}
.verify {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #ff8800;
  border: none;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.verify:hover {
  cursor: pointer;
  background-color: #fcac5d;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.verify:active {
  cursor: pointer;
  background-color: #ff8800;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Otp-verification {
  display: flex;
  padding: 0 40px 0 40px;
}
.password-reseting {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.password-reseting .title {
  margin-right: 1rem;
  margin-left: 2.2rem;
}
.password-reseting .title h2 {
  font-size: 1rem;
}
.password-button {
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  height: 40px;
}
.password-button button {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #ff8800;
  border: none;
  transition: 0.2s ease-in-out;
}
.password-button button:hover {
  cursor: pointer;
  background-color: #fcac5d;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.password-button button:active {
  cursor: pointer;
  background-color: #ff8800;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
