.Signup-container {
  width: 45%;
  padding: 50px 0 20px 0;
  height: 90%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.Signup-text {
  color: gray;
  font-size: 1rem;
  margin-bottom: 4rem;
}
.Signup-Input {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 90%;
}
.Signup-Input input {
  font-size: 1rem;
  color: gray;
  padding: 0 0 0 10px;
  height: 40px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Signup-Input input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
